body {
    font-family: Arial, sans-serif;
    margin: 0; 
  }


  .outer-heading {
    text-align: center;
    font-size: 24px;
    margin: 30px 0;
    font-weight: bold;
  }


  .row {
    display: flex;
    justify-content: center; 
    margin: 0 -5px; 
  }

  .column {
    padding: 15px;
    width: 400px;
    background-color: grey;
    margin: 10px;
    position: relative; 
    border: 2px solid black; 
    height: 190px; 
    overflow: hidden;
    box-sizing: border-box; 
  }

  .box-content p {
    color: black;
  }


  .header {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: 2px solid black;/
  }

  .header-chicken {
    background-color: pink;
    color: black;
    font-weight: bold;
  }

  .header-beef {
    background-color: red;
    color: white;
    font-weight: bold;
  }

  .header-sushi {
    background-color: lightyellow;
    color: black;
    font-weight: bold;
  }


  .box-content {
    margin-top: 30px;
    text-align: justify; 
  }

  @media (max-width: 767px) {

    .row {
      flex-wrap: wrap;
      justify-content: center;
    }
    .column {
      flex: 0 0 100%; 
      margin: 10px; 
    }
  }

  @media (max-width: 991px) {

    .row {
      flex-wrap: wrap;
    }
    .column {
      width: calc(50% - 30px);
    }
    .column:nth-child(3) {
      width: calc(100% - 30px);
    }
  }